flask
openai
dotenv
flask-wtf
sqlalchemy
wtforms
flask-login
stripe
Flask-Mail
PyJWT
email-validator
ics
langchain
langchain-community
google-search-results
bs4
tiktoken
faiss-cpu
waitress
pymysql
alembic